#status-box {
    display: block;
}

.status {
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid blue;
}

.status-name {
    flex: 1;
    font-weight: bold;
}

.status-value {
    flex: 2;
}
