@use '_nav';
@use '_sensor';
@use '_buttons';
@use '_slider';
@use '_statusBox';

$font-stack: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$primary-color: #113;
$secondary-color: #7aa;
$background-color: #eee;

html, html > body {
  margin: 0;
  background-color: $background-color;
  color: $primary-color;
}

* {
  font-family: $font-stack;
}

a {
    color: $primary-color;
    text-decoration: none;

    &:link, &:visited {
        color: $primary-color;
    }   
    &:hover {
        color: $secondary-color;
    }

    &:active {
        color: $background-color;
    }
}

#app {
}

.soundbridge {
    display: flex;
    padding: 1rem;
}

.notification {
    .hidden {
        disply: none;
    }
    .warning {
        background-color: orange;
    }
    .error {
        background-color: red;
    }
    .info {
        background-color: blue;
    }
}

.setting-number {

}

.value {
  float: right;
  margin: 2px;
}

$xyWin: 600px;
$xyOffsets: ($xyWin / 2) - 100;
.xy-pad {
  display: block;
  position: relative;
  width: $xyWin - 100;
  height: $xyWin - 100;
  margin: 60px;
  border: 1px solid $primary-color;
  .qd {
      position: absolute;
      display: block;
      width: $xyWin / 2;
      height: $xyWin / 2;
      margin: 0;
      border: 0;
  }
  #one {
      left: $xyOffsets;
  }
  #two {
      top: $xyOffsets;
      left: $xyOffsets;
  }
  #three {
      top: $xyOffsets;
  }
}
