button {
    display: block;
    background: blue;
    height: 2rem;
    width: 2rem;
    border-radius: 3px;

    &.start {
        width: 8rem;
        height:8rem;
        color: white !important;
        margin: 0 auto;
    }
    &.solo {
        background: yellow;
    }
    &.mute {
        background: lightblue;
    }
    &.muted {
        background: red;
    }
}
