button {
    display: block;
    background: blue;
    height: 2rem;
    width: 2rem;
    border-radius: 3px;

    &.start {
        width: 4rem;
        height:4rem;
        color: white;
    }
    &.solo {
        background: yellow;
    }
    &.mute {
        background: lightblue;
    }
    &.muted {
        background: red;
    }
}
